body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Remove the justify-content: center; */
    height: auto; /* Change from 100vh to auto */
    padding: 20px;
    max-width: 1000px; /* Add a max-width if desired */
    margin: 0 auto; /* Center the main container horizontally */
}




.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}



.visualization-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    width: 850px;
    height: 450px;
    background-color: #fff;
}

.visualization {
    width: 800px;
    height: 400px;
}


#hospitalDropdown, #clinicianDropdown {
    padding: 10px;
    font-size: 16px;
    width: 80%;  /* Adjust this value to your preference */
    max-width: 800px;  /* Adjust this value if needed */
    margin: 0 auto;  /* This will center the dropdown if it's less than 100% width */
}


.vis-container {
    margin: 300 auto;
    width: 100%;
    text-align: center;
}

.description h2,
h1 {
    margin-top: 0px;
}

.img-container {
    display: flex;           /* Enable Flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Center content vertically */
            /* Take full height of the parent container */
    position: relative;      /* Set position to relative */
    width: 100%;             /* Take full width of the parent container */
    
}

.img-container img {
    width: auto;
    height: 300px;
    max-width: 100%;         /* Ensure the image doesn't overflow its container */
    position: absolute;      /* Absolute position the image */
    top: 50%;                /* Center it vertically */
    left: 50%;               /* Center it horizontally */
    transform: translate(-50%, -50%); /* Adjust for the image's own dimensions */
}

.color-bar {
    background-color: darkblue; /* Dark blue background */
    padding: 10px; /* Padding around the text */
    text-align: center; /* Centering the text */
    font-family: 'Arial', sans-serif; /* Setting the font type to Arial */
    font-size: 24px; /* Setting the font size to 24 pixels */
    color: white; /* Setting the text color to white */
}

.visualizations-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
    grid-template-rows: 1fr 1fr; /* Two equal rows */
    gap: 20px; /* Space between visualizations */
    width: 100%; /* Full width of the parent container */
    justify-items: center; /* Center the content of each grid cell horizontally */
    align-items: center; /* Center the content of each grid cell vertically */
}

/* Adjust the size of the images within the visualizations */
.visualizations-container img {
    width: auto;
    max-width: 100%; /* Ensure the image doesn't overflow its container */
    height: auto;
    max-height: 300px; /* Adjust this value based on your preference */
}


